body{
    background-color: black;
    color: white;
}
.a,.b,.c{
    border: none;
    width: 200px;
    height: 100px;
padding: 0px;
margin: 0px;
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(9, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 3; }
.div2 { grid-area: 1 / 4 / 3 / 6; }
.div3 { grid-area: 4 / 4 / 6 / 6; }
.div4 { grid-area: 4 / 1 / 6 / 3; }
.div5 { grid-area: 7 / 1 / 9 / 3; }
.div6 { grid-area: 7 / 4 / 9 / 6; }
.div7 { grid-area: 3 / 1 / 4 / 3; }
.div8 { grid-area: 3 / 4 / 4 / 6; }
.div9 { grid-area: 6 / 1 / 7 / 3; }
.div10 { grid-area: 6 / 4 / 7 / 6; }
.div11 { grid-area: 9 / 1 / 10 / 3; }
.div12 { grid-area: 9 / 4 / 10 / 6; }
.div13 { grid-area: 1 / 3 / 10 / 4; }
button:hover{
    cursor: pointer;
}
img{
    height:270px ;
}