body {
    margin: 0;
    padding: 0;
    background-color: rgb(85, 142, 255);
    overflow: hidden;
    color: rgb(0, 0, 0);
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.div1 { grid-area: 1 / 1 / 6 / 3; 
  background-color: #ffffff;
    height: 620px;
    border-bottom-right-radius: 140px;
    border-top-right-radius: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
        opacity: 0;
  transform: translateY(30px);
  animation: slideRight 1s ease-out forwards;
}
@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.div2 { grid-area: 1 / 3 / 6 / 7; 
    display: flex;
    justify-content: center;
    align-items: center;
      opacity: 0; 
  animation: fadeIn 1s ease-in forwards; 
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
 * { box-sizing: border-box; }

    .container {
      background: white;
       width: 400px;
       border-radius: 16px;
      box-shadow: 0 0 20px rgba(0,0,0,0.2);
      overflow: hidden;
      height: 600px;
    }
    .tabs { display: flex; }
    .tabs button {
      flex: 1; padding: 15px; border: none;
      background: #eee; font-size: 16px; cursor: pointer;
    }
    .tabs button.active { background:  rgb(3, 97, 249); color: white; }
    form {
      display: none; flex-direction: column; padding: 20px;
      animation: fade 0.3s ease;
    }
    form.active { display: flex; }
    @keyframes fade { from {opacity: 0;} to {opacity: 1;} }
    input {
      margin: 8px 0; padding: 10px; border: 1px solid #ccc;
      border-radius: 8px;
    }
    button.submit {
      margin-top: 10px; padding: 10px; border: none;
      background:  rgb(3, 97, 249); color: white; border-radius: 8px;
      cursor: pointer;
    }
    p{
        font-size: xx-large;
    }
    h1{
        font-size: 150px;
    }
    img{
        height: 250px;
    }